this must to be in your folder

MONGO_URI=mongodb://localhost:27017
DB_NAME=library_db
COLLECTION_NAME=names {book, member, borrow, review, staff, reservation}
PORT=you_can_put_here_in_which_port_you_want_to_run_your_service

| Book Service        | 8081 |
| Member Service      | 8082 |
| Borrow Service      | 8083 | 
| Review Service      | 8084 |
| Staff Service       | 8085 |
| Reservation Service | 8086 |